@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Import font untuk nuansa literasi modern */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;1,400&family=Plus+Jakarta+Sans:wght@300;400&display=swap");
@import url(https://fonts.bunny.net/css?family=aclonica:400|akaya-telivigala:400|autour-one:400|averia-sans-libre:300,300i,400,400i,700,700i);
/* src/style.css */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import "tailwindcss";
@import "preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-Ubuntu: "Ubuntu", sans-serif;
  --font-family: "Averia Sans Libre", display;
  --font-Akaya: "Akaya Telivigala", display;
  --font-Aclonica: "Aclonica", sans-serif;
  --font-Autour: "Autour One", display;
}
@layer base {
  body {
    @apply font-sans bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    font-family: var(--font-poppins);
  }
}
html {
  scroll-behavior: smooth;
}
